.Adaptation {
    display: flex;
    flex-direction: column; 
    font-weight: bold;
}
.blok1, .blok2, .blok3 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin-bottom: 30px;
    border: 1px solid black;
}

@media (min-width: 480px) {
    .Adaptation {
        flex-direction: row; 
    }
    .blok1 {
        justify-content: flex-start; 
    }
    .blok2 {
        justify-content: center; 
    }
    .blok3 {
        justify-content: flex-end; 
    }
}