/* Lesson6 */
.Lesson6 {
    display: flex;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    height: 600px;
    width: 653px;
    position: relative;
}
.blok1{
    display: flex;
}
.blok1_a{
    display: flex;
    border: 1px solid black;
    margin-right: 100px;
    align-items: end;
    justify-content: right;
    padding: 5px;
} 
.blok1_b1{
    border: 1px solid black;
    padding: 5px;
}
.blok1_a, .blok1_b1{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}
.blok1_b2{
    display: flex;
    position: relative;
    left: 110px;
    background-color: red;
    width: 70px;
    height: 50px;
    margin: 10px;
    align-items: end;
    justify-content: left;
    border: 1px solid black;
}
.blok2{
    position: absolute;
    bottom: 0px;
    display: flex;
}
.blok2_c{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin-right: 50px;
}
.blok2_d{
    display: flex;
    border: 1px solid black;
}
.blok2_c, .blok2_d{
    background-color: aquamarine;
    width: 300px;
    height: 300px;
}
.red_blok2_c1, .red_blok2_c2, .red_blok2_c3{
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid black;
    background-color: red;
    width: 70px;
    height: 50px;
}
.red_blok2_c1 .text, .red_blok2_c2 .text, .red_blok2_c3 .text{
    position: absolute;
}
.red_blok2_c1 .text{
    top: 0px;
    left: 0px;
}
.red_blok2_c2 .text{
    bottom: 0;
    left: 0;
}
.red_blok2_c3 .text{
    top: 0;
    right: 0;
}

.blok2_d{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin-right: 50px;
}
.red_blok2_d1, .red_blok2_d2, .red_blok2_d3{
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid black;
    background-color: red;
    width: 70px;
    height: 50px;
}
.red_blok2_d1 .text, .red_blok2_d2 .text, .red_blok2_d3 .text{
    position: absolute;
}
.red_blok2_d1 .text{
    top: 0;
    right: 0;
}
.red_blok2_d2 .text{
    bottom: 0;
    left: 0;
}
.red_blok2_d3 .text{
    bottom: 0;
    right: 0;
}