@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.we p{
    font-size: 50px;
    margin: 15px;
}
.about_us{
    font-size: 17px;
    text-align: center;
    width: 430px;
    color: gray;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.heading{
    font-size: 30px;
    text-align: center;
    margin: 15px;
}
.description{
    font-size: 17px;
    text-align: center;
    width: 430px;
    color: gray;
}
.image{
    text-align: center;
}
.image img{
    width: 65px;
}

@media (max-width: 768px) {
    .we p{
        font-size: 40px;
    }
    .about_us{
        font-size: 15px;
    }
    .container{
        flex-direction: column;
        margin-top: 30px;
    }
    .heading{
        font-size: 20px;
    }
    .description{
        font-size: 15px;
    }
    .online, .speed, .choice{
        padding: 20px;
    }
}
