.Menu{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif;
    width: 950px;
    height: 450px;
    padding: 20px;
    border: 1px solid rgb(98, 98, 98);
}
.Toyota_Camry, .Toyota_HiAce, .Toyota_Tundra{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    border: 1px solid rgb(182, 182, 182);
}
.image{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.information{
    display: flex;
    position: relative;
    flex-direction: column; 
    padding: 10px;
}
.Price{
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-weight: bold;
}
.Price1{
    font-size: 18px;
}
.installment_plan{
    background-color: gold;
    align-items: center;
    border-radius: 5px;
    height: auto;
    padding: 0px 10px;
    margin-left: 20px;
}
.name{
    font-size: 20px;
    color: rgb(0, 132, 255);
}
.age{
    position: absolute;
    bottom: -10px;
}
.citi{
    position: absolute;
    font-size: 14px;
    bottom: -120px;
    color: gray;
}
.date{
    display: flex;
    position: absolute;
    font-size: 14px;
    bottom: -145px;
    color: gray;
}
.see{
    color: gray;
    margin-left: 47px;
}
.see_img{
    position: absolute;
    margin-left: 85px;
    top: 14px;
    width: 15px;
    height: 15px;
}
.top{
    position: absolute;
    width: 20px;
    bottom: -135px;
    left: 270px;
}
.top_one{
    position: absolute;
    width: 20px;
    bottom: -135px;
    left: 250px;
}
.info{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -60px;
}
.info_new{
    background-color: green;
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-right: 10px;
}
.info-human{
    background-color: rgb(109, 109, 109);
    color: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 5px;
}